.modaldiv p { 
    font-size: 25px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
    margin-bottom: 2px;
} 

.modaldiv .value { 

     padding-left: 50px;  
     font-size: 20px;
     margin-top: 2px;
}